#a{
    background-color: blue;
    
}
#b{
    background-color: blue;
    
}
#c{
    background-color: blue;
    
}
#d{
    background-color: blue;
    
}
#e{
    background-color: blue;
    
}
#f{
    background-color: blue;
    
}
#g{
    background-color: blue;
    
}
.counter{
    font-size: xxx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    padding: 5px;


}
#numper{
    width:50px

}